<div class="bg-dark text-white p-4 justify-content-between container-fluid">
    <div class="row p-4">
        <div class="col p-4 border border-white mt-2 mx-4 mb-2">
            <h4>CONTACT US</h4>
            <ul>
                <li>Email: abc@xyz.com</li>
                <li>Mobile: +1 1234567890</li>
            </ul>
        </div>
        <div class="col p-4 border border-white mt-2 mx-4 mb-2">
            <h4>ADDRESS</h4>
            123 Main Street <br>
            Vancouver, BC V6A 1A1 <br>
            Canada
        </div>
    </div>
</div>